#root {
	--spacing-base: 8px;
	--spacing: calc(var(--spacing-base) * 2);
	--spacing-lg: calc(var(--spacing-base) * 2.5);
	--spacing-xl: calc(var(--spacing-base) * 3);
	--spacing-xxl: calc(var(--spacing-base) * 4);

	--color-light-primary: hsl(259, 100%, 85%);
	--color-primary: hsl(259, 100%, 65%);
	--color-alert: hsl(0, 100%, 67%);
	--color-white: hsl(0, 0%, 100%);
	--color-off-white: hsl(0, 0%, 94%);
	--color-light-grey: hsl(0, 0%, 86%);
	--color-smokey-grey: hsl(0, 1%, 44%);
	--color-off-black: hsl(0, 0%, 8%);

	--corners-sm: 6px;
	--corners: 12px;
}

.countdown-calculator {
	align-self: center;
	margin-block: auto;
	padding: var(--spacing-xxl);
	background-color: var(--color-white);

	border-radius: var(--corners);
	border-bottom-right-radius: 120px;

	max-width: 480px;
	width: 100%;
}

/* FORM */
.countdown-calculator__form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

.form__inputs-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

@media screen and (min-width: 375px) {
	.form__inputs-wrapper {
		display: grid;
		gap: var(--spacing);
		grid-template-columns: repeat(auto-fill, minmax(max(80px, 20%), 1fr));
	}
}

.form__group {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
}

.form__group label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;
	color: var(--color-smokey-grey);
}

.form__group input {
	--size: 40px;
	--border-color: var(--color-light-grey);

	min-height: var(--size);
	padding: unset;
	border-radius: var(--corners-sm);
	border: 1px solid var(--border-color);

	padding-inline: var(--spacing-base);
	font-size: 16px;
	font-weight: bold;
}

.form__group input:is(:hover) {
	--border-color: var(--color-primary);
}
.form__group input:is(:focus, :active) {
	--border-color: var(--color-primary);
	outline: 4px solid var(--color-light-primary);
}

.form__error-message {
	font-size: 12px;
	font-style: italic;
	color: var(--color-alert)
}

.form__submission-wrapper {
	display: flex;
	place-items: center;
}

.form__submission-wrapper hr {
	--size: 1px;

	min-height: var(--size);
	min-width: var(--size);

	flex-grow: 1;
	border: unset;

	background-color: var(--color-light-grey);
}

.form__submission-wrapper button {
	--size: 56px;
	--background-color: var(--color-primary);

	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--size);
	height: var(--size);

	background-color: var(--background-color);
	border-radius: 999px;

	border: unset;
	cursor: pointer;
}

.form__submission-wrapper button:is(:hover) {
	--background-color: var(--color-off-black);
}

.form__submission-wrapper button .icon {
	aspect-ratio: 1/1;

	width: 50%;
	height: 50%;
}

.year-output {
	list-style: none;
	font-size: 13vw;
	font-weight: 900;
	font-style: italic;
	line-height: 120%;
	white-space: nowrap;
}

@media screen and (min-width: 376px) {
	.year-output {
		font-size: 56px;
	}
}

.year-output__value {
	color: var(--color-primary);
	margin-inline-end: 0.2em;
}

.year-output__next-year {
	font-size: 0.5em;
    display: flex;
    align-items: center;
    row-gap: var(--spacing-base);
    column-gap: var(--spacing);
    line-height: 1;
    flex-wrap: wrap;
    margin-top: var(--spacing-lg);
}

.year-output__next-year .loader {
	--size: 0.5em;
	
	min-width: var(--size);
	height: var(--size);
	
	border-radius: 999px;
	display: flex;
	padding: 2px;
	background-color: var(--color-off-white);
	flex-grow: 1;
}

.year-output__next-year .loader__bar {
	--percentage: 20%;
	height: 100%;
	width: var(--percentage);
	border-radius: inherit;
	background-color: var(--color-primary);
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}