:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

#root {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  padding: var(--spacing);
  background-color: var(--color-off-white);
}